# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.projects.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vanya\RiderProjects\2 11\my-code\.idea\.idea.projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
